.card-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-image {
    width: 200px;
}

.card-name {
    margin: 0;
}

.card-description {
    margin: 0;
}